.gameplan-jumbotron {
  background-color: $primary-background;
  background: #191919; /* Old browsers */
  background: -moz-linear-gradient(top,  #191919 0%, #111 54%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #191919 0%,#111 54%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #191919 0%,#111 54%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191919', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  &-branding {
    padding-left: 50px;
  }

  &-logo {
    margin-top: 100px;
    color: #fff;
    font-size: 80px;
    line-height: 90px;

    & img {
        max-height: 200px;
    }
  }

  &-slogan {
    color: #fff;
    font-size: 30px;
    line-height: 40px;
  }
}

.gameplan-navigation {
  a.mdl-navigation__link {
    color: $primary_foreground;
  }
}